<%- include("partials/header") %>
<div class="container card pt-3 px-3">
    <form>
        <div class="row form-group">
            <div class="col col-md-4">
                <h4 class="">Select A Task</h4>
            </div>
            <div class="col">
                <select id="task-dropdown-header" class="form-control form-control-sm"></select>
            </div>
        </div>

        <div class="row form-group form-inline">
            <div class="col col-md-4">
                <h4 class="">Work For...</h4>
            </div>
            <div class="col">
                <!-- Hour -->
                <select id="set-task-hour" class="form-control form-control-sm">
                    
                    <% for(i = 0; i < 24; i++){ %>
                        <option value="<%=i%>"><%=i%></option>
                    <% } %>

                </select>
                <small class="text-muted text-center">hour</small>
            </div>
            <div class="col">
                <!-- Minute -->
                <select id="set-task-min" class="form-control form-control-sm">
                    <% for(i = 0; i < 60; i++) { %>
                        <option value="<%=i%>"><%=i%></option>
                        <% } %>
            
                </select>
                <small class="text-muted text-center">min</small>
            </div>

            <div class="col">
                <!-- Second -->
                <select id="set-task-sec" class="form-control form-control-sm">
                    <% for(i = 0; i < 60; i++) { %>
                        <option value="<%=i%>"><%=i%></option>
                        <% } %>
            
                </select>
                <small class="text-muted text-center">sec</small>
            </div>
        </div>

        <div class="row form-group form-inline">
            <div class="col col-md-4">
                <h4 class="">Break For...</h4>
            </div>
            <div class="col">
                <select id="set-break-hour" class="form-control form-control-sm">
                    <% for(i = 0; i < 24; i++){ %>
                        <option value="<%=i%>"><%=i%></option>
                    <% } %>
                </select>
                <small class="text-muted">hour</small>
            </div>
            <div class="col">
                <select id="set-break-min" class="form-control form-control-sm">
                    <% for(i = 0; i < 60; i++) { %>
                        <option value="<%=i%>"><%=i%></option>
                        <% } %>

                </select>
                <small class="text-muted">min</small>
            </div>
            <div class="col">
                <select id="set-break-sec" class="form-control form-control-sm">
                    <% for(i = 0; i < 60; i++) { %>
                        <option value="<%=i%>"><%=i%></option>
                        <% } %>
                </select>
                <small class="text-muted">sec</small>
            </div>
        </div>

        <div class="row form-group">
            <div class="col col-md-12 text-center">
                <button id="set-times-button" class="btn btn-primary">Set Timer</button>
            </div>
        </div>
    </form>
</div>

<br>

<!-- Timer -->
<div id="timer-container" class="container timer-container task-timer">

    <!-- TASK HEADER -->
    <div id="task-timer-title-container" class="timer-header task-header">
        <div id="task-timer-title"></div>
    </div>

    <!-- BREAK HEADER -->
    <div id="break-timer-title-container" class="timer-header break-header">
        <div id="break-timer-title">Break</div>
    </div>

    <!-- COUNTDOWN -->
    <div class="countdown-bar">
        <div id="countdown-fill" class="countdown-fill"></div>
        <div id="countdown-time" class="countdown-time">00:00:00</div>
    </div>


    <!-- BUTTONS -->
    <div id="timer-buttons-group" class="timer-button" role="">
        <!-- Reset -->
        <button id="timer-reset" title="Reset Timer" class="btn btn-secondary" type="button"><i class="fa fa-repeat"></i></button>
        <!-- Start/Pause (toggles with JS) -->
        <button id="timer-start-pause" title="Start Timer" class="btn btn-secondary type="button"><i class="fa fa-play"></i></button>
        <!-- Stop  -->
        <button id="timer-stop" title="Stop Timer" class="btn btn-secondary type="button"><i class="fa fa-stop"></i></button>
        <!-- Skip -->
        <button id="timer-skip" title="Skip" class="btn btn-secondary" type="button"><i class="fa fa-forward"></i></button>
    </div>

</div>

<br><br>
<div class="container text-center">
    <h4>Time Spent on Task:</h4>
    <h4 id="total task"></h4>
    <input id="total_time" hidden type="number" class="">
</div>

<br><br><br>








<script src="/timer.js"></script>
<script src="/timer_requests.js"></script>
<%- include("partials/footer") %>